/* variables */
$colorPrincipal: tomato;
$colorHeader: greenyellow;

$fontPrincipal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$bordeNegro: solid 2px black;

$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;